# Ignora arquivos de configuração de ambiente (como senhas e chaves)
.env

# Ignora uma pasta inteira (ex: pastas de dependências ou build)
node_modules/
dist/

# Ignora todos os arquivos com uma extensão específica
*.log
*.db

# Ignora arquivos pycache e diretórios __pycache__
__pycache__/

# Ignora arquivos específicos
raw_history.txt
